@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

body {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, rgb(244, 255, 246), green);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 0;
    padding: 0;
    height: 100vh; 
}

/* Estilização da caixa com degradê ao redor do formulário */
form.form-horizontal {
    position: relative;
    background: linear-gradient(to bottom, rgb(42, 173, 148), rgb(86, 196, 116));
    padding: 5em;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(251, 240, 240, 0.3);
    width: 80%;
    max-width: 30vw;
    margin: 0 auto;
    margin-right:50vw ;
     
}

/* Estilização do texto "Login" */
.login-text {
    text-align: center;
    font-size: 2em;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

/* Estilização do logotipo no body */
body #logotipo {
    position: absolute;
    max-width: 50vw;
    height: auto;
    left: 75%; 
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajuste do formulário */
form.form-horizontal {
    margin-top: 2em;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    right: 50vw;
    
}


/* Estilização dos campos do formulário */
form.form-horizontal input[type="email"],
form.form-horizontal input[type="password"],
form.form-horizontal button {
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 23vw;
    box-sizing: border-box;
}

/* Ajuste de largura para o botão */
form.form-horizontal button {
    width: 23vw;
   margin-top: 2vw;
}

/* Estilização dos textos embaixo */
.text-capitalize {   
    bottom: 9px;
    width: 100%;
    left: 8em;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.link-light {
    display: flex;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width:720px){
    body{
        width: 100%;
        flex-direction: column;
    }
    
}
.login-text {
    font-size: 1.2em; /* Redução adicional do tamanho de fonte */
}

