@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
body {
   
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, rgb(244, 255, 246), green);
    display: flex;
    width: 100%;
    justify-content:space-around; 
    
}
form{
    margin-top: 5vw;
    display: grid;
    gap: 20px; /* Espaçamento entre os elementos */
    grid-template-columns: repeat(3, 1fr); /* Duas colunas */
    grid-template-rows: auto; /* Altura automática para as linhas */
    
   
}
label, input, select {
    margin-bottom: 16px;
}

label {
    grid-column: 1; /* Posiciona o label na primeira coluna */
}

input, select {
    grid-column: 2; /* Posiciona o campo na segunda coluna */
}



.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 50px;
    background: linear-gradient(to bottom, rgb(42, 173, 148), rgb(86, 196, 116));
    border: none;
    border-radius: 40px;
    margin-top: 50vw;   
    
    
}

    button  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 26vw;
    margin-top: 30px;
    width: 20vw;
   
    
}
.button-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    margin-left:31vw ;
}
/* form.row input[type="text"],
form.row input[type="Sobrenome"],
form.row input[type="Sexo"],
form.row input[type="CPF"],
form.row input[type="Telefone"],
form.row input[type="CEP"],
form.row input[type="Rua"],
form.row input[type="Número"],
form.row input[type="Bairro"],
form.row input[type="Cidade"],
form.row input[type="Estado"],
form.row input[type="Email"],
form.row input[type="Confimar Email"],
form.row input[type="Senha"],
form.row input[type="Confirmar Senha"],
form.row button {
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 23vw;
    box-sizing: border-box;


} */