body {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, rgb(244, 255, 246), green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    margin-bottom: 40vw;
    padding: 10px 20px;
    
}

.title {
    color: #ffffff;
    margin: 0;
}

.container {
    background: linear-gradient(to bottom, rgb(42, 173, 148), rgb(86, 196, 116));
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(251, 240, 240, 0.3);
    width: 65%;
    max-width: 500vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

form {
    width: 30%;
    
}

.form-group {
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
   
}

.btn-cadastrar {
    border-radius: 20px;
    width: 100%;
    margin: 10px 0;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.form-label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 10px;
}
.form-label input, .form-label label {
    width: 100%; /* Para fazer com que as caixas de entrada ocupem todo o espaço disponível */
    border-radius: 20px;

}
@media screen and (max-width: 600px) {
    .container {
        width: 95%; 
    }

    .form-label {
        grid-template-columns: 1fr; 
    }

    .form-label input, .form-label label {
        width: auto; 
    }
}

