@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: linear-gradient(90deg, rgb(98, 199, 117), rgb(82, 227, 229));
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    color: #ffffff;
    width: 100%;

}

h3 {
    font-size: 1.2375rem;
    color: #ffffff;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(212, 214, 215, 0.5);
    z-index: 1111;
    background-color: #fff;

}

/* Sidebar collapse */

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;

}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #000000;
    font-size: 1.2rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000000;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;

}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;


}

.content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.rounded-box {
    position: relative;
    width: 600px;
    height: 230px;
    margin-top: 20px;
    left: 9vw;
    background: linear-gradient(to bottom, rgb(42, 173, 148), rgb(86, 196, 116));
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10vw;
}

.top-left {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 24px;
    color: #333;
    font-size: 50px;
}

.subtext {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 20px;
    color: #555;
}


.bottom-left {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    bottom: 30px;
    background-color: #ffffff;
    color: rgb(178, 103, 103);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

}

.bottom-left:hover {
    background-color: rgb(0, 0, 0);
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 120px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;

}

.book-list {
    width: 300px;
    height: 750px;
    margin-top: 20px;
    background: linear-gradient(to bottom, rgb(42, 173, 148), rgb(86, 196, 116));
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 20vw;

}

.book-list h2 {
    font-size: 19px;
    color: #333;

}

.book-list li a {
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    margin-bottom: 6px;
    display: block;
    margin-left: 15px;

}

.book-list li a:hover {
    color: #000000;

}

.flex-container {
    display: flex;
}

.book-list li {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0%;

}

.book-list li a {
    text-decoration: none;
    color: #615959;
    font-size: 19px;
    display: block;
}

.additional-items {
    position: sticky;
    bottom: 0;
    padding: 15px;
    margin-top: auto;
    padding-top: 10vw;
}

.additional-items2 {
    position: sticky;
    bottom: 0;
    padding: 15px;
    margin-top: auto;
    padding-top: 26vw;
}

.custom-square {
    width: 250px;
    height: 120px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, rgb(42, 173, 148), rgb(86, 196, 116));
    color: #000000;
    text-align: center;
    padding-top: 50px;
    border-radius: 15px;
    margin: 30px;
    margin-left: 10vw;



}

.custom-square {

    margin-top: -340px;
    margin-bottom: 400px;

}



/* Responsive */

@media screen and (min-width: 768px) {
    .content {
        width: 100%;
        flex-direction: column;
    }
}